.box-container {
    display: flex;
    margin: 20px;
}

.box {
    background-color: #f7d418;
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
    flex-grow: 1;
}

.box-label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.box-label img {
    width: 50px;
    /* height: 30px; */
}

.box-value {
    font-size: 2em;
    font-weight: bold;
}


#main-content table {
    width: 70%;
    margin: 0 auto;
    background-color: #333;
    border-style: solid;
    text-align: center !important;
}

#main-content table th {
    color: #fff;
    background-color: #333;
    text-transform: uppercase;
}

#main-content table th:last-child {
    width: 130px;
}

#main-content table td {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0.75rem;
}

#main-content table td button  {
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px;
    color: #fff;
    background-color: #00b424;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

#main-content table td button:hover {
    background-color: #00881b;

}
